[submodule "external/spdlog"]
	path = external/spdlog
	url = https://github.com/gabime/spdlog.git
[submodule "apps/external/polyscope"]
	path = apps/external/polyscope
	url = https://github.com/nmwsharp/polyscope.git
[submodule "external/fmt"]
	path = external/fmt
	url = https://github.com/fmtlib/fmt.git
