[input.footprint]
path = '/home/ravi/git/roofer/roofer_data/yoc-2022-low-coverage_kas_warenhuis.gpkg'
id_attribute = "identificatie"
low_lod_attribute = 'kas_warenhuis'
year_of_construction_attribute = 'oorspronkelijkbouwjaar'

[[input.pointclouds]]
name = "AHN3"
quality = 1
path = '/home/ravi/git/roofer/roofer_data/yoc-2022-low-coverage-ahn3.laz'

[[input.pointclouds]]
name = "AHN4"
quality = 0
path = '/home/ravi/git/roofer/roofer_data/yoc-2022-low-coverage-ahn4.laz'

[[input.pointclouds]]
name = "KAD2020"
date = 2020
quality = 2
force_low_lod = false
select_only_for_date = true
path = '/home/ravi/git/roofer/roofer_data/yoc-2022-low-coverage-kadaster.laz'

[parameters]
cellsize = 0.5
max_point_density = 20

[output]
path = '/mnt/Data/LocalData/temp/yoc-2022-low-coverage_kas_warenhuis'

# {bid} will be replaced by building identifier
# {pc_name} will be replaced by input pointcloud name
# {path} will be replaced by path
building_toml_file = '{path}/0/objects/{bid}/config{pc_name}.toml'
building_las_file = '{path}/0/objects/{bid}/crop/{bid}_{pc_name}.las'
building_raster_file = '{path}/0/objects/{bid}/crop/{bid}_{pc_name}.tif'
building_gpkg_file = '{path}/0/objects/{bid}/crop/{bid}.gpkg'
building_jsonl_file = '{path}/0/objects/{bid}/reconstruct/{pc_name}_{bid}.city.jsonl'

metadata_json_file = '{path}/0/metadata.json'
jsonl_list_file = '{path}/0/features_{pc_name}.txt'
index_file = '{path}/0/index.gpkg'

# these get passed through to the geoflow config files that are generated for each building
[output.reconstruction_parameters]
GF_PROCESS_CRS="EPSG:7415"
OUTPUT_CRS="EPSG:7415"
# GF_PROCESS_OFFSET_OVERRIDE=true
CITYJSON_TRANSLATE_X=171800.0
CITYJSON_TRANSLATE_Y=472700.0
CITYJSON_TRANSLATE_Z=0.0
CITYJSON_SCALE_X=0.001
CITYJSON_SCALE_Y=0.001
CITYJSON_SCALE_Z=0.001

line_detect__epsilon=1.000000
lod13__step_height=3.000000
optimisation_data_term=8.000000
plane_detect__k=15
plane_detect__epsilon=0.300000
plane_detect__min_points=15
plane_detect__normal_angle=0.750000
thres_alpha=0.250000
thres_reg_line_dist=0.800000
thres_reg_line_ext=3.000000
clip_ground=true
lod1_extrude_to_max=false